<!-- /snippets/button-to-top.liquid -->
<div class="button-to-top" data-button-to-top>
  <div class="flex-container align-center-middle height-100">
    <div class="button-to-top-text text-center">
      <em class="sli sli-arrow-up"></em>
      <div>TOP</div>
    </div>
  </div>
</div>