<!-- /snippets/menu-child.liquid -->
{%- for link in child_links -%}
  <li{% if link.active and child_active %} class="active"{% endif %}>
   <a href="{{ link.url }}">{{ link.title }}</a>
   {% if link.links != blank %}
     {%- assign child_links = link.links -%}
     <ul class="menu vertical submenu nested margin-horizontal-0">
      {%- include 'menu-child', child_links: linklists[link.handle].links, child_active: true -%}
    </ul>
  {%- endif -%}
</li>
{%- endfor -%}