<!-- /snippets/product-quick-view.liquid -->
<div class="reveal product-quick-view" id="product-quick-view" data-product-quick-view data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast"></div>