<div class="reveal product-learnmore-popup" id="product-learnmore-popup" data-product-learnmore-popup data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
  <div class="learnmore-popup-content">
    {{ section.settings.earnpointsurl }}
  </div>
  <a class="close-reveal" aria-label="Close" data-close><em class="sli sli-close"></em></a>
</div>