<!-- /snippets/theme-header-mobile-article.liquid -->
<div class="grid-x align-middle">
  <div class="cell auto">
    <div class="flex-container align-left" data-header-left>
      <a class="header-button-back display-inline-block" data-header-back>
        <svg class="svg-icon">
          <use xlink:href="#icon-arrow-left" />
        </svg>
      </a>
    </div>
  </div>
  <div class="cell shrink header-content flex-container flex-dir-column align-center-middle">
    <div data-header-default>
      <h2 class="header-title">{{ article.title }}</h2>
    </div>
  </div>
  <div class="cell auto">
  </div>
</div>