<!-- section starts -->
<div class="spacetek-divider">
    <div class="go-to-next-section">
       <button></button>
    </div>
</div>
<!-- section end -->

{% schema %}
  {
    "name": "Divider Go Down",
    "settings": [
      
    ],
    "presets": [
    {
      "name": "Divider Go Down",
      "category": "Image"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}