{% if section.settings.desktop_background_image != blank %}
    <div class="video-module-background">
    {% else %}
    <div class="video-module-defaultbg">
    {% endif %}
    {% if section.settings.desktop_overlay_image != blank %}
    <div class="video-module-overlay">
    {% else %}
    <div class="video-module-defaultoverlay">
    {% endif %}
    
    {% if section.settings.section-heading != blank %}
        <h2 class="section-heading video-title">{{ section.settings.section-heading }}</h2>
    {% endif %}
    
    {% if section.settings.video_url != blank %}
    
    <div class="video-module-player" data-section-type="video">
    <div class="video-thumbnail">
    <div class="embed-video"
    data-source="{{ section.settings.video_url.type }}"
    data-video-url="{{section.settings.video_url}}">
    </div>
    {% if section.settings.video_thumbnail != blank %}
    
    <img id="video-thumb-play" src="{{ section.settings.video_thumbnail | img_url: 'master' }}" alt="video-thumbnail" />
    <div class="video-play-icon">
    </div>
    {% else %}
    <img id="video-thumb-play" src="https://fpoimg.com/700×400?text=thumbnail" alt="video-thumbnail" />
    {% endif %}
    </div>
    
    </div>
    
    {% endif %}
    </div>
    </div>
    
  {% schema %}
  {
  "name": "Video Module",
  "settings": [
    {
  "id": "section-heading",
  "type": "text",
  "label": "Heading"
  },
  {
  "id": "video_url",
  "type": "video_url",
  "label": "Video URL for Desktop",
  "accept": ["youtube", "vimeo"],
  "info": "Supports Youtube and Vimeo",
  "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
  },
  {
  "id": "autoplay",
  "type": "checkbox",
  "label": "Autoplay",
  "default": false
  },
  
  {
  "type": "image_picker",
  "id": "desktop_background_image",
  "label": "Desktop Background Image"
  },
  {
  "type": "image_picker",
  "id": "mobile_background_image",
  "label": "Mobile Background Image"
  },
  {
  "type": "image_picker",
  "id": "desktop_overlay_image",
  "label": "Desktop Overlay Image"
  },
  {
  "type": "image_picker",
  "id": "mobile_overlay_image",
  "label": "Mobile Overlay Image"
  },
  {
  "type": "image_picker",
  "id": "video_thumbnail",
  "label": "Video Thumbanil"
  }
  ],
  "presets": [
  {
  "name": "Video Module",
  "category": "Video",
  "settings": {
  "video_url": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
  }
  }
  ]
  }
  {% endschema %}