{% if section.settings.desktop_background_image != blank %}
<div class="video-module-background">
{% else %}
<div class="video-module-defaultbg">
{% endif %}
{% if section.settings.desktop_overlay_image != blank %}
<div class="video-module-overlay">
{% else %}
<div class="video-module-defaultoverlay">
{% endif %}

{% if section.settings.section-heading != blank %}
		<h2 class="section-heading video-title">{{ section.settings.section-heading }}</h2>
{% endif %}

{% if section.settings.video_url != blank %}

<div class="video-module-player" data-section-type="video">
<div class="video-thumbnail">
<div class="embed-video"
data-source="{{ section.settings.video_url.type }}"
data-video-url="{{section.settings.video_url}}">
</div>
{% if section.settings.video_thumbnail != blank %}

<img id="video-thumb-play" src="{{ section.settings.video_thumbnail | img_url: 'master' }}" alt="video-thumbnail" />
<div class="video-play-icon">
</div>
{% else %}
<img id="video-thumb-play" src="https://fpoimg.com/700×400?text=thumbnail" alt="video-thumbnail" />
{% endif %}
</div>

</div>

{% endif %}
</div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "id": "video_url",
          "type": "video_url",
          "label": "Video URL for Desktop",
          "accept": ["youtube", "vimeo"],
          "info": "Supports Youtube and Vimeo",
          "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        },
        {
          "id": "autoplay",
          "type": "checkbox",
          "label": "Autoplay",
          "default": false
          },          
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "templates": ["article", "index", "page", "product"]
}
{% endschema %}