<!-- /templates/404.liquid -->
<div class="grid-container">
  <div class="page-heading">
    <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
    <div class="page-subtitle">{{ 'general.404.subtext' | t }}</div>
  </div>
</div>