<!-- /templates/page.liquid -->
<div class="page-width contact-page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header">
        <h1>Contact</h1>
      </div>

      <div class="rte">
        {%- section 'contact-template' -%}
      </div>
    </div>
  </div>
</div>