<!-- /templates/page.liquid -->
<div class="page-width find-installer-page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header">
        <h1 class="grid-container">SpaceTek Recommended Installers </h1>
      </div>

      <div class="rte">
        {%- section 'find-installer' -%}
      </div>
    </div>
  </div>
</div>
